<?xml version="1.0"?>
<config>
    <modules>
        <Insoft_Cib>
            <version>0.1.0</version>
        </Insoft_Cib>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <insoft_delivery_date_product>
                    <to_order_item>*</to_order_item>
                </insoft_delivery_date_product>
                <insoft_min_price_product>
                    <to_order_item>*</to_order_item>
                </insoft_min_price_product>
                <insoft_delivery_text_product>
                    <to_order_item>*</to_order_item>
                </insoft_delivery_text_product>
                <insoft_priem_otpravka_id>
                    <to_order_item>*</to_order_item>
                </insoft_priem_otpravka_id>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <insoft_delivery_date_product>
                    <to_quote_item>*</to_quote_item>
                </insoft_delivery_date_product>
                <insoft_min_price_product>
                    <to_quote_item>*</to_quote_item>
                </insoft_min_price_product>
                <insoft_delivery_text_product>
                    <to_quote_item>*</to_quote_item>
                </insoft_delivery_text_product>
                <insoft_priem_otpravka_id>
                    <to_quote_item>*</to_quote_item>
                </insoft_priem_otpravka_id>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_save_before>
                <observers>
                    <insoft_cib_checkoutmessage>
                        <type>singleton</type>
                        <class>insoft_cib/observer</class>
                        <method>addErrorMessageForGroup</method>
                    </insoft_cib_checkoutmessage>
                </observers>
            </sales_quote_save_before>
            <sales_quote_item_set_product>
                <observers>
                    <insoft_cib_customattribute>
                        <type>singleton</type>
                        <class>insoft_cib/observer</class>
                        <method>salesQuoteItemSetProduct</method>
                    </insoft_cib_customattribute>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <insoft_delivery_date_product/>
                        <insoft_min_price_product/>
                        <insoft_delivery_text_product/>
                        <insoft_priem_otpravka_id/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <models>
            <insoft_cib>
                <class>Insoft_Cib_Model</class>
                <resourceModel>insoft_cib_resource</resourceModel>
            </insoft_cib>
            <insoft_cib_resource>
                <class>Insoft_Cib_Model_Resource</class>
            </insoft_cib_resource>
        </models>
        <blocks>
            <insoft_cib>
                <class>Insoft_Cib_Block</class>
            </insoft_cib>
        </blocks>
        <helpers>
            <insoft_cib>
                <class>Insoft_Cib_Helper</class>
            </insoft_cib>
        </helpers>
        <resources>
            <insoft_cib_setup>
                <setup>
                    <module>Insoft_Cib</module>
                    <class>Insoft_Cib_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </insoft_cib_setup>
            <insoft_cib_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </insoft_cib_write>
            <insoft_cib_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </insoft_cib_read>
        </resources>
        <insoft_strategy>
            <category>insoft_cib/import_category</category>
            <product>insoft_cib/import_product</product>
        </insoft_strategy>
        <insoft_entity_type>
            <category>insoft_cib/category</category>
            <product>insoft_cib/product</product>
        </insoft_entity_type>
    </global>
    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Insoft_Cib.csv</default>
                    </files>
                </translations>
                <Mage_Catalog>
                    <files>
                        <default>Insoft_Cib_Catalog.csv</default>
                    </files>
                </Mage_Catalog>
                <Mage_Checkout>
                    <files>
                        <default>Insoft_Cib_Checkout.csv</default>
                    </files>
                </Mage_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <insoft_cib>
                    <file>insoft/cib/category_description.xml</file>
                </insoft_cib>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <insoft_cib before="Mage_Adminhtml">Insoft_Cib_Adminhtml</insoft_cib>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <insoft_cib>
                    <file>insoft/cib/cib.xml</file>
                </insoft_cib>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Insoft_Cib.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <cmsadvanced>
        <pagetypes>
            <unipagetype translate="name" module="brander_cmshome">
                <name>Home page</name>
                <template>insoft/cib/main.phtml</template>
                <groups>
                    <unislidergroup>
                        <name>Slider Banners</name>
                        <attributes>
                            <homepage_slider_banners>
                                <input>grid</input>
                            </homepage_slider_banners>
                        </attributes>
                    </unislidergroup>
                    <unibannersgroup>
                        <name>Page Banners</name>
                        <attributes>
                            <homepage_banners>
                                <input>grid</input>
                            </homepage_banners>
                        </attributes>
                    </unibannersgroup>
                </groups>
            </unipagetype>
        </pagetypes>
    </cmsadvanced>
</config>